.card * {
  color: #000 !important;
  
  font-family: 'Roboto';
  font-weight: 300;
}
.card .button-group button .MuiButton-label-89{
  color: #fff !important;
  font-weight: 400;
}
.rating-3 svg,.rating-0 svg {
  fill: hsl(0,0%,50%);
}
.rating-5 svg,.rating-3 svg:nth-child(-n+3),.MuiCardHeader-avatar-249 svg,.card svg.location {
  fill: #f50057;
}

.card span.MuiCardHeader-title-252 {
  font-size: 20px;
  font-family: 'Roboto';
  color: #000;
  text-shadow: 1px 0px #deb886;
}
